<nav>
    <a href="/">Главная</a>
    <a href="/tasks">Задачи</a>
    <a href="/tasks/create">Создать</a>
    <a href="/dead-letters">Dead letter</a>
    <a href="/diagnostics/outbox">Outbox</a>
</nav>
